# my stuff
.idea

# dependencies
/node_modules

# testing
/coverage

# production folder


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
bun-debug.log*
bun-error.log*

# cause annoying
bun.lock
old
.vercel/project.json
archived.tar.gz
src/components/BadJokes/badjokes.wipTesting.js

files.zip
