footer {
    width: 100%;
    height: 60px;
    background: #204c4a;
    text-align: center;
    opacity: .7;
    position: absolute;
    bottom: 0;
    color: white;
    height: auto;
}

.footer-bar {
    display: inline-flex;
}

.footer_item {
    list-style: none;
    margin: 20px;
}

.footer_item>a {
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    transition: ease-in-out .4s;
}

.footer_item>a:hover {
    color: #0AE6FF;
}