.nav {
    width: auto;
    height: auto;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    border-right:2px solid black;
}

.nav-bar_item {
    list-style: none;
    margin: 20px;
}

.nav-bar_item>a {
    color: #312727;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-decoration: none;
    transition: ease-in-out .4s;
}

.nav-bar_item>a:hover {
    color:#204c4a;
    text-shadow:1px 2px 3px gray;
}
