body{
    color: rgb(85, 26, 139);
    margin:0;
    margin-bottom:10vh;
}
a {
    text-decoration: none;
    font-size: 20px;
    padding-bottom:2px;
    transition:ease-in-out all 0.3s;
}
a:hover{
    color:black;
    transform: scale(1.2);
    text-shadow: 4px 4px 4px lightgrey;
}
.content{
    text-align: center;
}
h1{
    font-size:5vw;
}

.flexRow{
    display: flex; 
    flex-Direction: row;
}
.item {
    flex-grow: 7;
  }
@media (min-width: 100px) and (max-width: 550px) {
            span{
                display:none;
            }  
            .flexRow{
                display: flex; 
                flex-Direction:column;
            }
  }