.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 26px 0 56px 0;
}

.commitContainer {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  
}

.commitContainer:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.flex-item:nth-child(2) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.flex-item:nth-child(3) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

a {
  text-shadow: 0;
}

.link {
  text-decoration: none;
  color: #004d80;
  position: relative;
}

.link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  right: 0;
  background: #004d80;
  transition: width 0.2s ease;
}

.link:hover:after {
  width: 100%;
  left: 0;
  background: #004d80;
}

.commitImage {
  border-radius: 20px;
  height: 30px;
  width: 30px;
  vertical-align: middle;
  border: 2px inset;
}

@media only screen and (min-width: 999px) {
  .footer {
    background: rgb(235, 235, 235);
    background: linear-gradient(
      180deg,
      rgba(235, 235, 235, 1) 0%,
      rgb(215, 210, 215) 40%,
        #777997 80%,
          rgb(81, 98, 112) 100%
    );
  }
}

@media only screen and (max-width: 999px) {
  .footer {
    border-top: 2px solid;
  }
}
