.CookieConsentStyle {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  z-index: auto;
}

.CookieConsentStyle .consentContent {
  margin-bottom: 5px;
}

.CookieConsentStyle .consentContentMini {
  margin-bottom: 10px;
}

.CookieConsentStyle .cookieBtns {
  display: flex;
  justify-content: center;
}

.CookieConsentStyle .cookieBtn {
  font-size: 24px;
  margin: 0 5px;
  cursor: pointer;
}

.CookieConsentStyle .rightCheck {
  color: #004d80;
}

.hideConsent {
  display: none;
}